body {
    font-family: 'Cairo', sans-serif;
    background-image: url("assets/images/abshir-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

/* الحاوية الخاصة بكل الصفحات */
.page-wrapper {
    position: absolute;
    top: 160px;
    bottom: 80px;
    left: 4%;
    right: 4%;

    background: rgba(255, 255, 255, 0.82);
    backdrop-filter: blur(3px);
    border-radius: 18px;
    padding: 18px;
    overflow: auto;
}
